<html>
<head>
    <title>JUGUETES STORE</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <!--[if IE 6]>
    <link rel="stylesheet" type="text/css" href="/css/iecss.css"/>
    <![endif]-->
    <script type="text/javascript" src="/js/boxOver.js"></script>
</head>
<body>
<div id="main_container">
    <div class="top_bar"></div>
    <div id="header">
        <div id="logo"> <a href="#"><img src="/images/logo-tienda-juguetes.jpg" width="500" height="140" /></a> </div>
    </div>

    <div id="right_container" style="margin-left: 100px;">
        <div class="right_content">
            <div class="prod_box_big">
                <div class="center_content_prod_box_big">
                    <h1 class="formlabel-text2" >
                        Ops, error 404. Parece ser que esta página ya no existe, por favor vuelve al <a href="/">inicio</a>.</h1>
                </div>
            </div>
        </div>
    </div>

    <!-- end of main content -->
    <div class="footer">
        <div class="left_footer"> <img src="/images/logo-tienda-juguetes.jpg" alt="" width="170" height="49"/> </div>
        <div class="center_footer"> JUGUETES STORE. All Rights Reserved 2025<br />
            <img src="/images/payment.gif" alt="" /> </div>
        <div class="right_footer"> <a href="/">Página Principal</a> <a href="/ubication">Dónde encontrarnos</a> <a href="/contact">Contacto</a> </div>
    </div>


</div>
<!-- end of main_container -->

</body>
</html>
