<html>
<head>
    <title>JUGUETES STORE - Eliminar Producto</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <!--[if IE 6]>
    <link rel="stylesheet" type="text/css" href="/css/iecss.css"/>
    <![endif]-->
    <script type="text/javascript" src="/js/boxOver.js"></script>
</head>
<body>
<div id="main_container">
    <div class="top_bar"></div>
    <div id="header">
        <div id="logo"> <a href="#"><img src="/images/logo-tienda-juguetes.jpg" width="500" height="140" /></a> </div>
    </div>
    <div>
        <div class="center_content" >
            <div class="prod_box_big" style="margin-left: 176px">
                <div class="center_prod_box_big">

                    <div class="oferta_title">Eliminar Producto </div>
                    <form action="/deleteProduct/{{product.id}}" method="post">
                        <br>
                        <div class="product_title_big">¿Desea eliminar el producto?</div>
                        <div></br>
                            <br><div class="formlabel-label">Nombre: {{product.name}} </div></br>
                            <br><div class="formlabel-label">Descripción: {{product.description}}</div></br>
                            <br><div class="formlabel-label">Precio: {{product.price}}€</div></br>
                            <br><div class="formlabel-label">Tipo: {{product.type}}</div></br>
                        </div>
                        <br>
                        <button type="submit">Eliminar</button>
                        <button type="button" onclick="location.href='/product/{{product.id}}';">Cancelar</button>
                    </form>
                </div>
            </div>
            <div class="footer">
                <div class="left_footer"> <img src="/images/logo-tienda-juguetes.jpg" alt="" width="170" height="49"/> </div>
                <div class="center_footer"> JUGUETES STORE. All Rights Reserved 2025<br />
                    <img src="/images/payment.gif" alt="" /> </div>
                <div class="right_footer"> <a href="/">Página Principal</a> <a href="/ubication">Dónde encontrarnos</a> <a href="/contact">Contacto</a> </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>