<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>JUGUETES STORE - Details</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <!--[if IE 6]>
    <link rel="stylesheet" type="text/css" href="/css/iecss.css"/>
    <![endif]-->
    <script type="text/javascript" src="/js/windowopen.js"></script>
    <script type="text/javascript" src="/js/boxOver.js"></script>
</head>
<body>
<div id="main_container">
    <div class="top_bar"></div>
    <div id="header">
        <div id="logo"> <a href="#"><img src="/images/logo-tienda-juguetes.jpg" alt="" border="0" width="500" height="140" /></a> </div>
    </div>
    <!-- end of oferte_content-->
    <div id="main_content">
        <div id="menu_tab">
            <div class="left_menu_corner"></div>
            <ul class="menu">
                <li><a href="/" class="nav1">Página Principal</a></li>
                <li class="divider"></li>
                <li><a href="/products/" class="nav2">Productos</a></li>
                <li class="divider"></li>
                <li><a href="/myAccount" class="nav3">Mi Cuenta</a></li>
                <li class="divider"></li>
                <li><a href="/register" class="nav4">Registro</a></li>
                <li class="divider"></li>
                <li><a href="/contact" class="nav5">Contáctanos</a></li>
                <li class="divider"></li>
                <li class="currencies">Moneda
                    <select>
                        <option>Euro</option>
                    </select>
                </li>
            </ul>
        </div>

        <div class="crumb_navigation"><a href="/">Página Principal</a> > <a href="/myAccount">Mi cuenta</a> > <a href="/user/{{user.id}}/reviews"> Mis Reseñas</a> </div>
        <div class="left_content">
        </div>
        <!-- end of left content -->
        <div class="center_content">
            <div class="prod_box_big">
                <div class="mid_prod_box_big">

                    <div class="oferta_title">Mis Reseñas (Número de reviews: {{user.numReviews}})</div>
                    <br><label class="formlabel-label">Usuario:</label>
                    <div class="formlabel-text">{{#user}}{{user.name}}{{/user}}</div></br>
                    {{#user.reviews}}
                    {{#productId}}
                    <br><label class="formlabel-label">Producto:</label>
                    <div class="formlabel-text">{{name}} </div></br>
                    {{/productId}}
                    <br><label class="formlabel-label">Valoración:</label>
                    <div class="formlabel-text">{{rating}}/5 </div></br>
                    <br><label class="formlabel-label">Reseña:</label>
                    <div class="formlabel-text">{{review}} </div></br>
                    {{/user.reviews}}
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="left_footer"> <img src="/images/logo-tienda-juguetes.jpg" alt="" width="170" height="49"/> </div>
        <div class="center_footer">JUGUETES STORE. All Rights Reserved 2025<br />
            <img src="/images/payment.gif" alt="" /> </div>
        <div class="right_footer"> <a href="/">Página Principal</a> <a href="/ubication">Dónde Encontrarnos</a><a href="/contact">Contacto</a> </div>
    </div>

</div>
</body>
</html>