body {
    background: url(../images/bg_toys.jpg) no-repeat #ffccff center top;
    padding: 0;
    font-family: 'Comic Sans MS', Arial, sans-serif;
    font-size: 12px;
    margin: 0 auto;
    color: #333;
}

p {
    padding: 2px;
    margin: 0px;
}

#main_container {
    width: 1000px;
    height: auto;
    margin: auto;
    padding: 0px;
}

.top_bar {
    width: 1000px;
    height: 38px;
    background-color: #ff6699;
}

.lang_text {
    float: left;
    padding: 0 5px 0 0;
    color: #fff;
}

a.lang {
    display: block;
    float: left;
    padding: 0 5px 0 5px;
}

#header {
    width: 1000px;
    height: 170px;
    background: url(../images/header_toys.jpg) no-repeat center;
    background-position: 0px 0px;
    margin: auto;
}

#logo {
    float: left;
    padding: 15px;
}

.oferte_content {
    width: 600px;
    height: 164px;
    float: left;
    padding: 0 0 0 50px;
}

.top_divider {
    float: left;
    width: 1px;
    height: 164px;
}

.oferta {
    width: 538px;
    float: left;
    padding: 15px 30px 0 30px;
}

.oferta_img {
    float: left;
    padding: 0 0 10px 0;
}

.oferta_title {
    font-size: 22px;
    color: #ff3399;
    font-weight: bold;
}

.oferta_details {
    width: 400px;
    float: left;
    padding: 0 0 0 30px;
}

.oferta_text {
    padding: 5px 0 5px 0;
    font-size: 14px;
    color: #333;
    text-align: justify;
    line-height: 16px;
}

a.details {
    width: 90px;
    height: 24px;
    display: block;
    float: right;
    margin: 5px 0 0 0;
    padding-left: 5px;
    background: url(../images/details_bt_toys.gif) no-repeat center;
    text-align: center;
    line-height: 24px;
    text-decoration: none;
    color: #000;
}

/* Ajustes en la navegación */
.crumb_navigation {
    width: 980px;
    height: 18px;
    padding: 5px 10px 0 20px;
    color: #ff3399;
    background: url(../images/nav_toybullet.png) no-repeat left;
    background-position: 5px 6px;
}

.crumb_navigation a {
    color: #ff6699;
    text-decoration: underline;
}

/* Estilos para productos */
.prod_box {
    width: 180px;
    height: auto;
    float: left;
    padding: 12px;
    background: #ffccff;
    border: 1px solid #ff99cc;
    border-radius: 10px;
}

.prod_details_tab {
    width: 180px;
    height: 34px;
    float: left;
    background: url(../images/products_details_toybg.gif) no-repeat center;
    margin: 5px 0 0 0;
}

a.prod_details {
    width: 28px;
    display: block;
    float: left;
    background: url(../images/square-pink-add.gif) no-repeat left;
    padding: 0 0 0 20px;
    text-decoration: none;
    color: #ff3399;
}

a.prod_review {
    width: 28px;
    display: block;
    float: left;
    background: url(../images/favs.png) no-repeat left;
    padding: 0 0 0 24px;
    text-decoration: none;
    color: #ff3399;
}

.footer {
    width: 1000px;
    clear: both;
    height: 70px;
    background: url(../images/footer_toybg.gif) repeat-x top;
}
